@import "../_utilities/color-variables";
@import "../_utilities/color";

%card {
  background: color("teal", "lighten-4");
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

%cardHover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.card {
  @extend %card;
}

.card--hover {
  @extend %cardHover
}

