@import "../_utilities/variables";
@import "../_utilities/grid";
@import "card";

.Panel {
  @extend %card;
  @extend .row;
  background: white;
  position: relative;
  &--list {
    margin-bottom: 0.2em;
    padding: 1em;
  }
  &--visualization {
    margin-bottom: 3em;
    padding: 4rem 2rem 1rem;
    img {
      width: 90%;
    }
  }
  &__header {
    position: absolute;
    background: color("teal", "lighten-3");
    padding: 2em;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    h1,h2,h3,p,span {
      color: color("teal", "darken-1");
      text-transform: capitalize;
    }

  }
  &.loading {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease-in;
    height: 80px;
    opacity: 0.3;
    position: relative;
    margin-bottom: 1rem !important;
    &:before{
      content: "";
      width:150px;
      height: 1.3em;
      background-color: $light-gray;
      position: absolute;
      top: 1.2em;
      left: 1em
    }
    &:after{
      content: "";
      width:300px;
      height: 0.8em;
      background-color: $light-gray;
      position: absolute;
      top: 3em;
      left: 1em;
      @media screen and (max-width: $size-small) {
        width: 200px;
      }
    }
    @for $i from 0 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: unquote(($i / 6) + "s");
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
