@import "../_utilities/variables";
@import "../_utilities/grid";
@import "../elements/card";


.Counter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  &__number {
    font-size: 4em;
    text-align: center;
    display: block;
    color: white;
  }
  &__label {
    text-align: center;
    color: white;
  }
}

.counterTitle {
  font-size: 1em;
  color: white;
  font-family: $secondary-font;
}