@import "../_utilities/variables";
@import "../_utilities/grid";
@import "../elements/card";

.DataPageLayout {
  padding-left: 0;
  padding-bottom: 4em;
  overflow-y: hidden;
  &.sidebarActive {
    padding-left: 280px;
  }
  .VisualizationPanel {
    margin-bottom: 3em;
    padding: 2rem;
  }
}

.breadcrumb {
  display: inline-block;
  h1,h2,h3,h4,h5,p,span,div {
    display: inline-block;
  }
  .caret {
    margin: 0 1em;
  }
}

groupsImage {
  width: 90%;
  height: auto;
}
