@import "../_utilities/variables";
@import "../_utilities/grid";
@import "../elements/card";
@import "../_utilities/typo";

.HighlightsLayout {
  padding-bottom: 4em;
  .row {
    align-items: stretch;
  }
}

.Highlight {
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  margin: 0.5em;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @extend %card;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color("gray", "darken-2");
    opacity: 0.3;
  }
  a {
    text-decoration: none;
    z-index: 1;
  }
  &__number {
    color: $title-color;
    font-family: $secondary-font;
    font-size: 3.5em;
    font-weight: $bold;
  }
  &__title {
    color: $title-color;
    font-family: $secondary-font;
    font-size: 1.5em;
  }
  &__text {
    color: white;
    font-family: $secondary-font;
    font-size: 2em;
    font-weight: $light;
    z-index: 11;
    b {
      font-weight: $bold
    }
  }
  &.white {
    background-color: white;
    border-bottom-color: $secondary-color;
  }
  &.orange,
  &.teal {
    .Hightlight {
      &__number,
      &__title,
      &__text {
        color: white;
      }
    }
  }
  &.center {
    align-items: center;
    text-align: center;
  }
  @media screen and (max-width: $size-small) {
    padding: 1em;
    &__text {
      font-size: 1.5em;
    }
    &:before {
      opacity: 0.4;
    }
  }
}