@import "../_utilities/variables";
@import "../_utilities/grid";
@import "../elements/card";


.HomeLinks {
  height: 40vh;
}
.HomeLink {
  @extend .card;
  display: block;
  list-style-type: none;
  padding: 2em 1em;
  text-decoration: none;
  border-bottom: 3px solid $secondary-color;
  height: 100px;
  box-sizing: border-box;
  &:hover {
    @extend .card--hover
  }
}



.HomeLink__title {
  color: color("teal", "base");
  display: block;
  font-family: $secondary-font;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: .5em;

}

.HomeLink__action {
  color: color("teal", "darken-1");
  font-family: $main-font;
  font-size: 0.8em;
  font-weight: $light;
  line-height: 1em;

}