@import "../_utilities/variables";

.geoPath {
  fill: color("teal", "lighten-1");

  cursor: pointer;
  stroke: white;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-dasharray: 1px,1px;
  transition: fill .2s ease;
  &:hover {
    fill: color("teal", "base");
  }
  &.active {
    fill: color("teal", "base");
  }
  .title {

  }
}