@import "../_utilities/variables";
.Navbar {
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  height: 70px;
  left: 0;
  padding: 0 15px 0 85px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  img {
    height: 40px;
  }
  p {
    color: color("gray", "base");;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    font-weight: $light;
    position: relative;
    text-align: right;
    padding-right: 15px;
    &:after{
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid $text-color;
      content: "";
      margin-top: -4px;
      position: absolute;
      right: 0;
      top: 50%;
    }
  };
}