@import "../_utilities/variables";
.Navbar {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px;
  img {
    height: 40px;
  }
  p {
    color: color("gray", "base");;
    font-size: 0.8em;
    font-weight: $light;
    text-align: right;
  };
}