@import "../_utilities/variables";
@import "../_utilities/grid";
@import "../elements/card";

.panel {
  @extend %card;
  @extend .row;
  background: white;

  &.loading {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease-in;
    min-height: 200px;
    opacity: 0.4;
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: unquote(($i / 8) + "s");
      }
    }
  }

}


@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
