@import "../_utilities/variables";
@import "../_utilities/grid";
@import "../elements/card";

.SidebarPageLayout {
  padding-left: 0;
  overflow-y: hidden;
  &.sidebarActive {
    padding-left: 280px;
  }
  h1 {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }
  .VisualizationPanel {
    margin-bottom: 3rem;
  }
  .table {
    margin-bottom: 3rem;
  }
}
