@import "../_utilities/variables";
@import "../_utilities/grid";
@import "~slick-carousel/slick/slick.css";

.SliderLayout {
  height: 600px;
  //height: 60vh;
  height: 100vh;
  position: relative;
}
.SlideLayout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 5%;
  position: relative;
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color("gray", "darken-2");
    opacity: 0.2;
  }

  &__slide{
    z-index: 99;
    height: 100%;
    width: 100%;
    img {

    }
  }
  &__number {
    //color: $title-color;
    color: white;
    font-family: $secondary-font;
    font-size: 5em;
    font-weight: $bold;
  }
  &__title {
    //color: $title-color;
    color: white;
    font-family: $secondary-font;
    font-size: 2em;
    font-weight: $light;
    text-transform: uppercase;
    b {
      font-weight: $bold;
    }
    @media screen and (max-width: $size-medium) {
      font-size: 2em;
    }
    @media screen and (max-width: $size-small) {
      font-size: 1.5em;
      padding: 0 1em;
    }
  }
  &__subtitle {
    color: white;
    font-family: $main-font;
    font-size: 1.3em;
    font-weight: $light;
    margin-top: 0.3em;

  }
  &__disclaimer {
    //color: $title-color;
    color: white;
    font-family: $secondary-font;
    font-size: 0.6em;
    font-weight: $light;
    margin-top: 1.3em;
  }
  &__credit {
    //color: $title-color;
    color: rgba(255,255,255,0.7);
    font-family: $main-font;
    font-size: 0.6em;
    font-weight: $light;
    position: absolute;
    right: 1em;
    top: 2em;
    &:before{
      content:"";
      position: absolute;
      left: -20px;
      width: 18px;
      height: 12px;
      background: url(https://s3.amazonaws.com/sib-resources/images/biodiversidadco/cifras/santander/ph-credito.png) no-repeat;
      background-size: contain;
    }
    @media screen and (max-width: $size-small) {
      top: initial;
      bottom: 1em;
    }
  }
}

.SliderNav {
  cursor: pointer;
  font-size: 0;
  height: 60px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  width: 30px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    //background-color: $link-color;
    background-color: white;
    content: "";
    height: 2px;
    position: absolute;
    width: 25px;
  }
  &:before {
    top: 20px;
  }
  &:after{
    bottom: 20px;
  }
  &.prev {
    left: 0;
    &:before {
      transform: rotate(-50deg);
      left: 15px;
    }
    &:after{
      transform: rotate(50deg);
      left: 15px;
    }
  }
  &.next {
    right: 0;
    &:before {
      transform: rotate(50deg);
      right: 15px;
    }
    &:after{
      transform: rotate(-50deg);
      right: 15px;
    }
  }
}
