@import "../_utilities/variables";
@import "~slick-carousel/slick/slick.css";

.SliderLayout {
  height: 600px;
  height: 60vh;
}

.SlideLayout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  padding: 0 5%;

  &__number {
    color: $title-color;
    font-family: $secondary-font;
    font-size: 5em;
    font-weight: $bold;
  }
  &__title {
    color: $title-color;
    font-family: $secondary-font;
    font-size: 2.5em;
    font-weight: $bold;
    text-transform: uppercase;
  }
  &__subtitle {
    color: $title-color;
    font-family: $main-font;
    font-size: 1.3em;
    font-weight: $light;
    margin-top: 0.3em;
  }
  &__disclaimer {
    color: $text-color;
    font-family: $secondary-font;
    font-size: 0.6em;
    font-weight: $light;
    margin-top: 1.3em;
  }
}

.SliderNav {
  cursor: pointer;
  font-size: 0;
  height: 60px;
  margin-top: -30px;
  position: absolute;
  text-indent: -9999;
  top: 50%;
  width: 30px;
  &:before, &:after {
    background-color: $link-color;
    content: "";
    height: 2px;
    position: absolute;
    width: 25px;
  }
  &:before {
    top: 20px;
  }
  &:after{
    bottom: 20px;
  }
  &.prev {
    left: 0;
    &:before {
      transform: rotate(-50deg);
      left: 5px;
    }
    &:after{
      transform: rotate(50deg);
      left:5px;
    }
  }
  &.next {
    right: 0;
    &:before {
      transform: rotate(50deg);
      right:5px;
    }
    &:after{
      transform: rotate(-50deg);
      right: 5px;
    }
  }
}
