@import "../_utilities/variables";

.ReactTable {

  .rt-td {
    background-color: white;
    font-weight: $regular;
    line-height: 16px;
    padding: 3rem 1rem;
    &:not(:first-child) {
      font-family: $secondary-font;
      font-size: 2em;
      text-align: center;
    }
    @media screen and (max-width: $size-small) {
      padding: 1em .5em;
      &:not(:first-child) {
        font-size: 1em;
      }
    }
  }
}


.ReactTable .rt-thead {
  overflow-y: scroll;
}

