@import "../_utilities/variables";

.ToggleSidebarLayout {
  background-color: $secondary-color;
  cursor: pointer;
  display: inline-block;
  left: 0;
  vertical-align: middle;
  .burgerIcon{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 70px;
    span {
      background: white;
      font-size: 0;
      height: 2px;
      margin: 2px 0;
      width: 20px;
      text-indent: -9999px;
    }
  }

}