$sib-gray: (
  "base": #5D5D5D,
  "lighten-1": #B3B3B3,
  "lighten-2": #E5E5E5,
  "darken-1": #465252,
);

$sib-teal: (
  "base":       #00A8B4,
  "lighten-1":  #C6DBDB,
  "lighten-2":  #E0E7E7,
  "lighten-3":  #E5EDEC,
  "lighten-4":  #F1F8F7,
  "darken-1":   #00484D,
  "darken-2":   #023234,
);

$sib-orange: (
  "base":       #FF7847,
  "lighten-1":  #FFC2AC,
  "darken-1":   #C25D1B,
);

$sib-yellow: (
  "base": #F9B408,
);

$sib-magenta: (
  "base": #E83A64,
);

$sib-white: (
  "base": #FFFFFF,
);

$colors: (
  "gray": $sib-gray,
  "teal" : $sib-teal,
  "orange": $sib-orange,
  "yellow": $sib-yellow,
  "magenta": $sib-magenta,
  "white": $sib-white
);

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return null;
}